<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>473280052429-qrvqlaqipjm3tdoj1o6lullfo21joks6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.473280052429-qrvqlaqipjm3tdoj1o6lullfo21joks6</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>473280052429-b86t01h8d3hmpv5brnolle0enejbl237.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAmtrsNqaBcEGhEh-cpG7jmnTCF5wnuer0</string>
	<key>GCM_SENDER_ID</key>
	<string>473280052429</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.BUSA</string>
	<key>PROJECT_ID</key>
	<string>busa-app-d0051</string>
	<key>STORAGE_BUCKET</key>
	<string>busa-app-d0051.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:473280052429:ios:38cfdb6f7394f138d63d84</string>
</dict>
</plist>